*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', Tahoma,sans-serif;
}

.app{
    overflow: hidden;
}

.header{
    background: #ebebfa url(./img/background.png) no-repeat center top ;
    background-size: cover;
    padding-top: 48px;
    height: 1080px;

}

.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__right{
    display: flex;
}

.list{
    display: flex;
}

.list .item{
    list-style: none;
    height: 48px;
}

.list .item a{
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: #111111;
    line-height: 48px;
    padding: 0px 16px;
}

.list button{
    font-size: 1.8rem;
    height: 48px;
    padding: 0px 39px;
    border: 2px solid #c04ae2;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    color: #111111;
    font-weight: bold;
    margin: 0px 12px;
}


.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.socials li{
    list-style: none;
    padding: 0 5px;
}

.socials li > a{
    display: block;
}

.socials img{
    width: 100%;
}

/* HERO */
.hero{
    margin-top: 137px;
}

.hero__left h1{
    font-size: 9rem;
    line-height: 10.8rem;
    font-weight: normal;
    margin: 0;
}

.hero__left p{
    font-size: 3rem;
    line-height: 4.2rem;
    color: #5e5858;
    margin-top: 48px;
}

.hero__left a{
    display: block;
    text-decoration: none;
    margin-top: 54px;
    max-width: 241px;
    text-align: center;
    font-size: 24px;
    line-height: 72px;
    color: white;
    font-weight: bold;
    background-color: #c04ae2;
    border-radius: 8px;
    box-shadow: 0 10px 18px rgba(0 0 0 / 8%);
    cursor: pointer;
}



.hero__right{
    position: relative;
    width: 800px;
}

.hero__right-img{
    position: absolute;
    top: 0;
    left: 16px;
    width: 100%;
}

/* MAIN */

.main{
    background: #fef4f7 url(./img/gradient-background.png) no-repeat center top;
    background-size: cover;
}

.intro{
    padding-top: 145px;
    padding-bottom: 91px;
}

.feature{
    text-align: center;
    margin-bottom: 108px;
}

.feature p{
    font-size: 2.4rem;
    line-height: 7.2rem;
    color: #c04ae2;
    text-transform: uppercase;
}

.feature h2{
    font-size: 6rem;
    line-height: 9rem;
    color: #111111;
    font-weight: 400;
}

.schedule{
    border: 6px solid;
    border-radius: 10px;
    padding: 93px 44px 84px 44px;
    text-align: center;
}

.schedule--bg1{
    border-color: #fcd7df;
}

.schedule--bg2{
    border-color: #c9f3e2;
}

.schedule--bg3{
    border-color: #f2d5ba;
}

.icon-top{
    margin-bottom: 52px;
}

.schedule h3{
    font-size: 3rem;
    line-height: 4.2rem;
    font-weight: 600;
}

.schedule p{
    font-size: 2rem;
    line-height: 2.8rem;
    color: #5e5858;
    margin-top: 40px;
}

/* CREATIVE */
.creative{
    padding-top: 91px;
    padding-bottom: 96px;
}

.creative__content{
    width: 500px;
}

.creative__content h2{
    font-size: 6rem;
    line-height: 7.2rem;
    color: #222222;
    margin-bottom: 70px;
}

.creative__content p{
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 40px;
}

.creative__content p:nth-child(3){
    font-size: 2rem;
    line-height: 3.2rem;
    margin-bottom: 54px;
}

.creative__content a{
    display: block;
    text-decoration: none;
    max-width: 206px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: white;
    font-weight: bold;
    padding: 24px 0;
    background-color: #c04ae2;
    border-radius: 8px;
    box-shadow: 0 10px 18px rgba(0 0 0 / 8%);
    cursor: pointer;
    text-transform: uppercase;
}

.creative__img{
}

/* SERVICE */
.service{
    padding-bottom: 140px;
}

.service__title{
   text-align: right;
}

.service__title p{
    font-size: 2.4rem;
    line-height: 7.2rem;
    color: #c04ae2;
    text-transform: uppercase;
}

.service__title h2{
    font-size: 6rem;
    line-height: 9rem;
    font-weight: 500;
    margin-bottom: 70px;
}

.service__bottom{
    padding-bottom: 140px ;
}

.service__list{
    width: 370px;
    text-align: center;
    background-color: #fff;
    width: 370px;
    height: 480px;
    padding: 70px 44px  21px;
    margin-bottom: 50px;
    border-radius: 25px;
    box-shadow: 0px 72px 24px 0px rgb(7 28 75 / 7%);
}

.service--tf{
    transform: translateY(87px);
}

.service--tf2{
    transform: translateY(177px);
}

.service__list h3{
    font-size: 2.6rem;
    line-height: 4.2rem;
    margin-top: 60px;
}

.service__list p{
    font-size: 2rem;
    line-height: 2.8rem;
    color: #5e5858;
    margin-top: 10px;
}

.service__list .icon-arrow{
    margin-top: 48px;
    margin-bottom: 70px;
    cursor: pointer;
}

/* PROJECT */
.project{
    background: #ecf2f8 url(./img/bg3.png) no-repeat top center;
    background-size: cover;
    height: 2403px;
    padding-top: 192px;
}

.project__title{
    text-align: center;
}

.project__title h3{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 7.2rem;
    color: #c04ae2;
    text-transform: uppercase;
}

.project__title h2{
    font-size: 6rem;
    line-height: 9rem;
    font-weight: 500;
    margin-bottom: 120px
}

.project__bottom{
}

.project__bottom-left{
    padding-bottom: 91px;
}

.project__bottom-right h3{
    font-size: 2.4rem;
    line-height: 4.2rem;
    font-weight: 500;
    margin-bottom: 14px;
}

.red{
    color: #fe6686;
}

.green{
    color: #54d6a1;
}

.yellow{
    color: #fe9a3f;
}

.project__bottom-right h2{
    font-size: 4.2rem;
    line-height: 5.4rem;
    font-weight: 500;
    margin-bottom: 46px;
}

.project__bottom-right p{
    font-size: 2rem;
    line-height: 3.2rem;
    margin-bottom: 56px;
    color: #5e5858;
}

.project__bottom-right a{
    display: inline-block;
    width: 200px;
    padding: 12px 0px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 3.6rem;
    color: #111111;
    text-align: center;
    text-decoration: none;
    border: 2px solid#c04ae2;
    border-radius: 7px;
}


.project__footer{
    display: flex;
    justify-content: center;
    margin-bottom: 192px;
}

.project__footer a{
    display: block;
    border-bottom: 2px solid#c04ae2;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.6rem;
    font-weight: bold;
    color: #111111;
}

.pdl{
    padding-left: 94px;
}

/* TEAM */
.team{
    background: #fbfefe url(./img/bag-team.png) no-repeat top center;
    background-size: cover;
    height: 2084px;
}

.team__title{
    padding-top: 221px;
    text-align: center;
}

.team__title h3{
    font-size: 2.4rem;
    line-height: 7.2rem;
    color: #c04ae2;
    font-weight: 500;
}

.team__title h2{
    font-size: 6rem;
    line-height: 9rem;
    font-weight: 500;
}

.team__img{
    margin-top: 137px;
}

.team__img img{
    margin-bottom: 46px;
}

.team__img h2{
    font-size: 2.4rem;
    line-height: 4.8rem;
}

.team__img h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.6rem;
    color: #adb0ba;
}

.tf-72px{
    transform: translateY(72px);
}
.team__info{
    margin-top: 192px;
}

.team__info-left{
    margin-top: 178px;
    margin-left: 8px;
}

.team__info-left h3{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 7.2rem;
    color: #c04ae2;
    text-transform: uppercase;
}

.team__info-left h2{
    font-size: 5.8rem;
    line-height: 9rem;
    margin-bottom: 35px;
}

.team__info-left p{
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #5e5858;
    margin-bottom: 66px;
}

.team__info-left a{
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 4.8rem;
    color: #111111;
    position: relative;
    margin-left: 42px;
}

.team__info-left a::after{
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    width: 18px;
    height: 2px;
    background-color: #332e98;
}


.team__info-left  span{
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #adb0ba;
    margin-left: 16px;
}

.team__info-right{
    margin-top: -30px;
    margin-left: 111px;
}

/* CONTACT */
.contact{
    background: #fef4f6 url(./img/contact_bg.png);
    background-size: cover;
    /* height: 1218px; */
}

.contact__title{
    text-align: center;
    padding-top: 168px;
}

.contact__title h3{
    font-size: 2.4rem;
    line-height: 7.2rem;
    color: #c04ae2;
    font-weight: 500;
    text-transform: uppercase;
}

.contact__title h2{
    font-size: 6rem;
    font-weight: 500;
    line-height: 9rem;
    margin-bottom: 130px;
}

.contact__info{
    padding-bottom: 192px;
}

.contact__info-left h2{
    font-size: 4.2rem;
    line-height: 5.4rem;
}

.send-message{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}

.send-message input{
    font-size: 2rem;
    line-height: 2.8rem;
    width: 470px;
    height: 71px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 26px 30px;
    box-shadow: 0 18px 48px rgba(0 0 0 / 6%);
}

.send-message textarea{
    font-size: 2rem;
    line-height: 2.8rem;
    width: 470px;
    height: 214px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 26px 30px;
    box-shadow: 0 18px 48px rgba(0 0 0 / 6%);
}

.send-message button{
    display: block;
    width: 240px;
    background-color: #c04ae2;
    font-size: 24px;
    line-height: 72px;
    color: white;
    font-weight: normal;
    text-align: center;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


.contact__info-right{
    margin-top: 106px;
}

.contact__info-right p{
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #5e5858;
    margin-bottom: 48px;
}

.phone{
    display: flex;
}

.phone .phone__img{
    background: url(./img/phone_number.png) #fe6686 no-repeat center center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.phone__info {
    margin-left: 20px;
}

.phone__info h4{
    font-size: 2.1rem;
    line-height: 2.4rem;
}

.phone__info p{
    font-size: 1.8rem;
    line-height: 3rem;
    color: #5e5858;
}

.email{
    display: flex;
}

.email__img{
    background: url(./img/mail.png) #54d6a1 no-repeat center center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.email__info {
    margin-left: 20px;
}

.email__info h4{
    font-size: 2.1rem;
    line-height: 2.4rem;
}

.email__info p{
    font-size: 1.8rem;
    line-height: 3rem;
    color: #5e5858;
}

.adress{
    display: flex;
}

.adress__img{
    background: url(./img/location.png) #fe9a3f no-repeat center center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.adress__info {
    margin-left: 20px;
}

.adress__info h4{
    font-size: 2.1rem;
    line-height: 2.4rem;
}

.adress__info p{
    font-size: 1.8rem;
    line-height: 3rem;
    color: #5e5858;
}

/* BLOG */
.blog{
    background: #f1f2f2 url(./img/blog.png) no-repeat top center;
    background-size: cover;
    height: 1021px;
}

.blog__header{
    padding-top: 168px;
    display: flex;
    justify-content: space-between;
}

.blog__title h3{
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2rem;
    color: #c04ae2;
}

.blog__title h2{
    font-size: 6rem;
    font-weight: 600;
    line-height: 9rem;
    margin-top: 30px;
}

.blog__link{
    display: flex;
    align-items: flex-end;
}

.blog__link a{
    display: block;
    font-weight: 600;
    font-size: 1.8rem;
    color: #111111;
    line-height: 3.6rem;
    text-decoration: none;
    border-bottom: 2px solid#c04ae2;
}

.blog__member{
    margin-top: 124px;
}

.blog__app{
    border: 2px solid #b3bed1;
    border-radius: 18px;
    padding: 41px 50px 50px 40px;
    transition: all 0.4s ease-in;
}

.blog__app:hover{
    background-color: #ffffff;
    cursor: pointer;
}

.blog__desc h3{
    font-size: 1.8rem;
    line-height: 3rem;
}

.h3-red{
    color: #fe6686
}

.h3-green{
    color: #54d6a1;
}

.h3-yellow{
    color: #f8b16e;
}

.blog__desc h4{
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-top: 14px;
}

.blog__desc p{
    font-size: 2rem;
    line-height: 3.2rem;
    color: #5e5858;
    margin-top: 40px;
}

.blog__name{
    display: flex;
    align-items: center;
    margin-top: 44px;
}

.blog__name img{
    margin-right: 16px;
}

.blog__name p{
    font-size: 2.1rem;
    line-height: 3rem;
    margin-right: 80px;
}

.blog__icon{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-right: 10px;
}

.blog__name span{
    font-size: 1.8rem;
    line-height: 2.8rem;
}

/* FOOTER */
.footer{
    padding-top: 168px;
    height: 663px;
}

.footer__app{
    margin-bottom: 100px;

}

.footer__logo{
    width: 370px;
}

.footer__logo p{
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-top: 42px;
}

.footer__logo input{
    width: 370px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    background-color: #f3f9fb;
    outline: none;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
    padding: 27px 24px;
}

.footer__right{
    display: flex;
    justify-content: space-between;
}

.footer__about h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 52px;
}

.footer__about li{
    font-size: 1.8rem;
    line-height: 3rem;
    color: #5e5858;
    list-style: none;
    margin-bottom: 20px;
}

.footer__icon{
    display: flex;
    align-items: center;
}

.footer__icon h4{
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-right: 50px;
}

.footer__icon img{
    margin-right: 16px;
}

.footer__by{
    display: flex;
    justify-content: end;
}

.footer__by p{
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #222222;
    font-weight: 600;
}

.footer__by span{
    color: #979797;
    font-weight: 500;
}